body{
    background: #BDBDBD;
}

.myCard {
    padding: 5px;
    margin: auto;
    width: 100%;
}

.top {
    padding: 5px;
}

img {
    width: 100%;
}

h3 {
    margin-top: 15px;
    color: blue;
}

.mainContainer {
    background-color: white;
    padding: 5px;
}