<!-- your html code here -->
<div class="mainContainer">
<div class="top">
    <h1>Portfolio</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, asperiores? Molestiae ex magnam perferendis recusandae 
        sunt veniam pariatur accusantium ab impedit, id natus nemo rerum, officiis asperiores fugit. Officiis, commodi.</p>
</div>
<div class="cards d-flex" style="width: 100%;">
    <div class="myCard">
        <img src="https://th.bing.com/th/id/OIP.DpcLyyRCeTWoiiMNdCTXxQHaEK?w=280&h=180&c=7&r=0&o=5&pid=1.7" alt="">
        <h3>Project Name</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium vitae, deleniti necessitatibus maxime vero, 
            omnis consequatur vel distinctio error tempora, labore aperiam ullam hic sed odit. Voluptates ipsa ratione eos.</p>
    </div>
    <div class="myCard">
        <img src="https://th.bing.com/th/id/OIP.DpcLyyRCeTWoiiMNdCTXxQHaEK?w=280&h=180&c=7&r=0&o=5&pid=1.7" alt="">
        <h3>Project Name</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium vitae, deleniti necessitatibus maxime vero, 
            omnis consequatur vel distinctio error tempora, labore aperiam ullam hic sed odit. Voluptates ipsa ratione eos.</p>
    </div>
    <div class="myCard">
        <img src="https://th.bing.com/th/id/OIP.DpcLyyRCeTWoiiMNdCTXxQHaEK?w=280&h=180&c=7&r=0&o=5&pid=1.7" alt="">
        <h3>Project Name</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium vitae, deleniti necessitatibus maxime vero, 
            omnis consequatur vel distinctio error tempora, labore aperiam ullam hic sed odit. Voluptates ipsa ratione eos.</p>
    </div>
</div>
</div>